.cart-container{
  width: 100%;
  max-width: 450px;
  background-color: #e6e6e6;
  color: #222;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(100%, 0);
  transition: all 400ms ease;
}
.cart-container h3.cart-title{
  padding-top: 25px;
}

.cart--active{
  transform: translate(0, 0);
}

.cart-item-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cart-item-content div{
  width: 240px;
  overflow-wrap: break-word;
}

.cart-item-container{
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  gap: 30px;
  margin-bottom: 25px;
}
.cart-items{
  flex-grow: 1;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 20px;
}

.cart-img{
  width: 80px;
  height: 90px;
}

.cart-item-title {
  font-size: 0.85rem;
  font-weight: 500;
  color: #222;
  margin-bottom: 8px;
}

.cart-item-price {
  font-size: 25px;
  font-weight: 500;
}

.remove-cart-button {
  padding: 5px;
  border: none;
  background: none;
  color: #e63946;
  cursor: pointer;
  font-size: 1.4rem;
}

.x-icon{
  font-size: 1.8rem;
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
}

.cart-resume{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.checkout-button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #70e000;
  color: #222;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.5s;
}

.checkout-button:hover{
  color: #222;
  background-color: #9ef01a;
}