.search-input {
  border-radius: 30px;
  border: none;
  padding: 15px 50px;
  width: 368px;
  margin: -85px;
}

form button {
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #9ef01a;
  cursor: pointer;
  font-weight: 500;
}

/* RESPONSIVE DESIGN */
@media (max-width: 668px) {
  .search-input {
    padding: 10px;
    width: 160px;
    margin-left: 0;
  }
  
  form button {
    padding: 7px;
    margin: 15px;
    font-size: 12px;
  }
}