section.header {
  background-color: #222;
  padding: 20px 10px;
  color: #fff;
  width: 100%;
}

.header-container {
  width: 100%;
  margin: 0;
  padding: 0 300px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul,
.dropdown-menu {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
li a.cart-header{
  display: flex;
  align-items: center;
  gap: 4px;
}

nav ul a,
.dropdown-menu li a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  transition: all 0.5s;
}
nav ul a:hover,
.dropdown-menu li a:hover {
  color: #CCFF33;
}

img {
  width: 160px;
}

.i-bars {
  display: none;
}

.dropdown-menu {
  display: none;
  transition: all 400ms ease;
  transform: translate(0, 0);
}

.open {
  width: 220px;
  padding: 20px;
  border-radius: 10px;
  background: #6e6e6e;
  transform: translate(100%, 0);
  position: absolute;
  top: 110px;
  right: 250px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
  .i-bars {
    display: block;
  }

  .open {
    display: block;
  }

  .top-container nav {
    display: none;
  }

  .header-container {
    padding: 0 20px;
  }

  img {
    width: 110px;
  }
}